{% load i18n %}

<form {% if form_id %}id="{{ form_id }}"{% endif %} class="form-{{ style|default:"stacked" }} {{ class }}" method="{{ method|default:"post" }}"
    {% if action %}action="{{ action }}"{% endif %}
    {% if includes_files %}enctype="multipart/form-data"{% endif %}>

    {% if not method == "get" %}{% csrf_token %}{% endif %}
    {% include 'ecommerce/partials/form_fields.html' %}
    <div class="form-group">
        <div class="{% if style == 'horizontal' %}col-sm-offset-4 col-sm-8{% endif %}">
            <button class="btn btn-primary" name="{{form_id}}_submit" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans btn_text %}</button>
        </div>
    </div>
</form>
