{% extends "ecommerce/baseaccountpage.html" %}

{% load i18n %}

{% block tabcontent %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Edit Profile" %}</h3>
      </div>
      <div class="panel-body">
          {% include 'ecommerce/partials/form.html' with form=profile_form form_id="profile_form" action="." btn_text="Update Profile" %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Change Password" %}</h3>
      </div>
      <div class="panel-body">
          {% include 'ecommerce/partials/form.html' with form=pwd_change_form form_id="pwd_change_form" action="." btn_text="Update Password" %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Delete Profile" %}</h3>
      </div>
      <div class="panel-body">
          <form id="delete_profile_form" class="form-{{ style|default:"stacked" }} {{ class }}" method="{{ method|default:"post" }}" action=".">
            {% if not method == "get" %}{% csrf_token %}{% endif %}
            {% include 'ecommerce/partials/form_fields.html' with form=delete_profile_form %}
            <div class="form-group">
                <div class="{% if style == 'horizontal' %}col-sm-offset-4 col-sm-8{% endif %}">
                    <button class="btn btn-danger" name="delete_profile_form_submit" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans 'Delete Profile' %}</button>
                </div>
            </div>
          </form>
      </div>
    </div>
{% endblock %}
