{% extends "ecommerce/browse.html" %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
  </ul>
{% endblock breadcrumbs %}

{% block headertext %}
  <h2>{{category.name}}</h2><hr />
{% endblock headertext %}

{% block content %}
  {% if category.description %}
        <p>
          {{category.description|safe}}
        </p>
  {% endif %}
  {{ block.super }}
{% endblock content %}
