{% extends 'ecommerce/base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        {% for directory in directories %}
        <li class="dropdown" id="menuitem{{directory.id}}">
          <a href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ directory.name }}<span class="caret"></span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% for directory in directories %}
    <div class="row hidden jdi-dropdown-content" id="dropdownmenuitem{{directory.id}}">
      {% for category in directory.categories %}
      <div class="col-md-3">
        <h3>{{ category.name }}</h3><br>
        {% for subcategory in category.subcategories %}
        <a href="#">{{ subcategory.name }}</a><br>
        {% endfor %}
        <br>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class="active">Stationery</li>
    </ol>
  </div>
  <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="{% static 'ecommerce/img/' %}{{product.image_name}}" alt="">
          <div class="caption">
            <h3>{{ product.name }}</h3>
            <p>
              Price: {{ product.price }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
