html{
    position: relative;
    min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin-bottom: 50px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 15px 0 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
    .my-jumbotron{
        background-image: url(../img/bgimage.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron-height{
        min-height: 590px;
    }
}

.jumbotron-video{
    background-color: #272424;
}

.navbar-brand {
    float: left;
    clear: none;
}
.navbar-header .navbar-brand img {
	width: 35px;
	height: 35px;
	margin-top: -8px;
}

/*.mainsection{
    height: 590px;
}*/

.video{
    width: 300px;
    height: 300px;
}

.video-button{
    margin: 50px 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(../img/video-play-icon.svg), url(../img/video-background.jpg);
    background-size: auto auto, 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    cursor: pointer;
}

.video-modal{
    background-color: #272424;
    display: none;
}

.video-close-button {
    float: right;
    font-size: 36px;
    color: #EFEAE1;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.breadcrumb {
    background-color: #FFFFFF;
    border-radius: 0;
}

/*@media screen and (min-width : 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}*/

.navbar-nav>li>a {
    color: #000000;
}

.navbar-nav>li>a:focus {
    background-color: transparent;
}

.jdi-dropdown-content {
    position: absolute;
    width: 1170px;
    border-top: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.4);
    z-index: 1000;
}

.jdi-dropdown-content>div>ul>li {
    list-style: none;
}

/*.dropdown-menu {
    min-width: 800px
}

.dropdown-menu-category {
    width: 25%;
    float: left;
}

.dropdown-menu-category>li {
    list-style: none;
}*/

/*.submenu {
    position: absolute;
    width: 978px;
    min-height: 100px;
    border-top: 0;
    left: 0;
    margin-top: 0;
    cursor: default;
    visibility: hidden;
    color: #565656;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.4);
    font-size: 12px;
    z-index: 1001;
    overflow: visible;
}*/
