html{
    position: relative;
    min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #f5f5f5;
}

body > .main-container {
  /*padding: 60px 15px 0;*/
  padding-top: 50px;
}

.text-muted {
  margin: 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
    .my-jumbotron{
        background-image: url(../img/bgimage.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron-height{
        min-height: 590px;
    }
}

.jumbotron-video{
    background-color: #272424;
}

/*.navbar-default {
    background-color: #337ab7;
    border-color: #1c73a5;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}*/

.navbar-brand {
    float: left;
    clear: none;
}
.navbar-header .navbar-brand img {
	width: 35px;
	height: 35px;
	margin-top: -8px;
}

/*.mainsection{
    height: 590px;
}*/

.video{
    width: 300px;
    height: 300px;
}

.video-button{
    margin: 50px 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(../img/video-play-icon.svg), url(../img/video-background.jpg);
    background-size: auto auto, 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    cursor: pointer;
}

.video-modal{
    background-color: #272424;
    display: none;
}

.video-close-button {
    float: right;
    font-size: 36px;
    color: #EFEAE1;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

/*.breadcrumb {
    background-color: #FFFFFF;
    border-radius: 0;
}*/

/*@media screen and (min-width : 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}*/

/*.navbar-nav>li>a {
    color: #fff;
}*/

.navbar-default{
    background-color: #337ab7;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: black;
    background-color: white;
}
.navbar-default .navbar-nav>li>a:hover .badge {
    color: white;
    background-color: black;
}

.badge {
    color: #337ab7;
    background-color: white;
}
/*.navbar-default .navbar-nav>li>a:active {
    color: #fff;
}*/

/*.navbar-nav>li>a:hover{
    color: #333;
    background-color: #fff;
}*/

.jdi-dropdown-content {
    position: fixed;
    /*width: 1170px;*/
    border-top: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.4);
    z-index: 1000;
    white-space: nowrap;
}

.jdi-dropdown-content>div>ul>li {
    list-style: none;
}

.dropdown-menu {
    white-space: nowrap;
}

/*.dropdown-menu {
    min-width: 800px
}

.dropdown-menu-category {
    width: 25%;
    float: left;
}

.dropdown-menu-category>li {
    list-style: none;
}*/

/*.submenu {
    position: absolute;
    width: 978px;
    min-height: 100px;
    border-top: 0;
    left: 0;
    margin-top: 0;
    cursor: default;
    visibility: hidden;
    color: #565656;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.4);
    font-size: 12px;
    z-index: 1001;
    overflow: visible;
}*/

.price_color {
  display: block;
  color: #5cb85c;
  font-weight: bold;
}
.thumbnail {
    text-align: center;
    border: 0;
    padding: 10px;
    margin-bottom: 0;
}
.product-border>a, .product-border>a:visited, .product-border>a:hover, .product-border>a:active{
    text-decoration: none;
    color: #337ab7;
}
.thumbnail img{
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition-delay: initial;
}
.thumbnail a:hover img{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.product-border {
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px 0 #f2f2f2;
    background-image: linear-gradient(to top,#fafafa 0,#fdfdfd 20%,#fff 60%);
}
.breadcrumb {
    margin-bottom: 0;
    margin-top: 70px;
    /*background-color: #2B3338;*/
}

/*BEGIN COPIED STYLES*/
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 25px;
  margin-right: 25px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
